#ignore node_modules, allow user to npm install them upon cloning.
node_modules
.DS_Store

#ignore the react .env file
.env

#ignore build-and-push.sh convenience script
build-and-push.sh

dist/
*.log
