@font-face{
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
}

.dropzoneCSS {
  width: 500px;
  height: 300px;
  border-width: 2px;
  border-color: #B8B8B8;
  border-style: dashed;
  border-radius: 5px;
}

.dropzoneCSS:hover {
  border-color: #00ff00;
}

.uploadedImage {
  width: 100px;
  height: 100px;
  object-fit: 'cover';
}

.uploadInstructions {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  text-align: center;
  opacity: 0.3;
  font-weight: bold;
}

.uploadUnder {
  font-family: 'Roboto', sans-serif;
  font-size: 9px;
  margin-left: 0.5em;
  text-align: center;
  margin-top: 0;
  opacity: 0.3;
}

.uploadInstructions:hover {
  opacity: 0.6;
}

.acceptedFiles {
  margin-left: 4em;
  margin-top: 2em;
}

.uploadedImage {
  border-radius: 10px;
}

.fileLabel {
  font-size: 10px;
}

.fileName {
  font-size: 9px;
  list-style-type: none;
  margin-left: 1em;
}

.fileSize {
  margin-top: 0;
  font-size: 9px;
}
