.dropzone {

}

.uploadedImage {
  width: 100px;
  height: 100px;
  object-fit: 'cover';
}

.uploadInstructions {
  font-size: 17px;
  text-align: center;
  width: 120px;
  margin: 2em 0 0 5em;
  opacity: 0.3;
  font-weight: bold;
}

.uploadUnder {
  font-size: 9px;
  margin-left: 0.5em;
  text-align: center;
  margin-top: 0;
  opacity: 0.3;
}

.uploadInstructions:hover {
  opacity: 0.6;
}

.acceptedFiles {
  margin-left: 4em;
  margin-top: 2em;
}

.uploadedImage {
  border-radius: 10px;
}

.fileLabel {
  font-size: 10px;
}

.fileName {
  font-size: 9px;
  list-style-type: none;
  margin-left: 1em;
}

.fileSize {
  margin-top: 0;
  font-size: 9px;
}