@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 400;
}

a.navLink {
  text-decoration: none;
  padding: 6px 12px;
}

.react-tabs {
  padding: 0rem 0 0 0rem;
  display: inline-block;
}

@media only screen and (max-width: 1052px) and (min-width: 692px){
  .react-tabs {
    padding: 0rem 0 0 0rem;
  }
}

@media only screen and (max-width: 691px) {
  .react-tabs {
    padding: 0rem 0 0 0rem;
  }

/*  .react-tabs__tab:first-child {
    padding: 6px 0.5rem;
    margin-left: 0.5rem;
    margin-top: 1rem;
  }*/
}
#Logo , .react-tabs {
  display: block;
}

.react-tabs__tab-list {
    /*the black line border that outlines the tabs*/
    /*border-bottom: 1px solid #aaa;*/
    margin: 0 0 30px;
    padding: 0;
  }
  
  .react-tabs__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
  }
  
  .react-tabs__tab--selected {
    background: #fff;
    /*the black line border that outlines the tab shape*/
    /*border-color: #aaa;*/
    color: black;
    border-radius: 5px 5px 0 0;
  }
  
  .react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
  }
  
  .react-tabs__tab:focus {
    box-shadow: 0 0 5px hsl(208, 99%, 50%);
    border-color: hsl(208, 99%, 50%);
    outline: none;
  }
  
  .react-tabs__tab:focus:after {
    content: "";
    position: absolute;
    height: 5px;
    left: -4px;
    right: -4px;
    bottom: -5px;
    background: #fff;
  }
  
  .react-tabs__tab-panel {
    display: none;
  }
  
  .react-tabs__tab-panel--selected {
    display: block;
  }
  